*{
	margin: 0;
	padding: 0;
}
.content{
	margin: 0 10px;
}

[class*='col-']{
	float: left;
	margin: 20px 10px 0 10px;
	outline: solid 1px #999;
	height: 50px;
	width: 16.666%;
	background-color: #ccc;
}

@media (min-width: 769px){
	.col-min-1{
		width:calc(8.33% - 20px);
	}
	.col-min-2{
		width:calc(16.66% - 20px);
	}
	.col-min-3{
		width:calc(25% - 20px);
	}
	.col-min-4{
		width:calc(33.33% - 20px);
	}
	.col-min-6{
		width:calc(50% - 20px);
	}
}

@media (max-width: 768px){
	.col-max-2{
		width:calc(16.66% - 20px);
	}
	.col-max-3{
		width:calc(25% - 20px);
	}
	.col-max-6{
		width:calc(50% - 20px);
	}
	.col-max-8{
		width:calc(66.66% - 20px);
	}
	.col-max-12{
		width:calc(100% - 20px);
	}
}
}